<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyPlaceholderConfigurer" class="com.test.spring.beanFactoryPostProcessor.CustomPropertyConfig">
        <property name="locations">
            <list>
                <value>classpath:application-dev.properties</value>
                <value>classpath:application-test.properties</value>
                <value>classpath:application-prod.properties</value>
            </list>
        </property>
    </bean>

    <bean id="studentService" class="com.test.spring.beanFactoryPostProcessor.StudentService">
        <property name="name" value="${student.name}"/>
        <property name="age" value="10"/>
    </bean>

    <!--<bean class="com.test.spring.beanFactoryPostProcessor.BeanFactoryPostProcessor1"/>-->
    <!--<bean class="com.test.spring.beanFactoryPostProcessor.BeanFactoryPostProcessor2"/>-->

</beans>