<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.test.spring.bean">
        <context:exclude-filter type="regex" expression="com\.test\.spring\.bean\.test\..*"/>
    </context:component-scan>

    <bean id="welcomer" class="com.test.spring.Welcomer">
        <constructor-arg ref="locator"/>
    </bean>
    <bean id="locator" class="com.test.spring.Welcomer$MessageLocator">
        <property name="source" value="lll"/>
    </bean>

    <bean id="user2" class="com.test.spring.User">
        <property name="username" value="ss"></property>
        <property name="password" value="dd"></property>
    </bean>

    <bean id="user1" class="com.test.spring.User">
        <property name="username" value="张三"></property>
        <property name="password" value="zhangsan123"></property>
    </bean>

    <bean id="parent" class="com.test.spring.bean.Parent">
        <property name="name" value="#{user1.password}"/>
    </bean>
    <!--下面的parent表示这个child的bean的父亲是id=parent的这个类-->
    <bean id="child" class="com.test.spring.bean.Child" parent="parent" name="cc,ccc">
        <property name="age" value="18"/>
    </bean>
    <alias name="child" alias="c"/>

</beans>