<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorldService" class="com.test.spring.factorybean.HelloWorldServiceImpl"/>
    <bean id="factoryBean" class="com.test.spring.factorybean.MyFactoryBean">
        <property name="interfaceName" value="com.test.spring.factorybean.HelloWorldService" />
        <property name="target" ref="helloWorldService" />
    </bean>

</beans>